# Scala.
**/*.class
**/*.log

# Scala FMT.
.scalafmt.conf

# SBT.
**/.bsp

# Metals.
**/.metals
**/metals.sbt
**/.bloop

# Maven.
**/target

# Idea.
**/*.iml
**/*.ipr
**/*.iws
**/.idea

# Misc.
**/.DS_Store
